<mat-card class="craft-container">
  <img
    src="{{ craft.imageUrl }}"
    alt="{{ craft.title }}-craft-poster"
    class="craft-poster"
  />
  <mat-card-content>
    <div class="craft-spec">
      <h3 class="craft-title">
        {{ craft.title }}
      </h3>

      <button
        mat-icon-button
        aria-label="Details of craft"
        routerLink="/Crafts/{{ craft.id }}"
      >
        <mat-icon>info</mat-icon>
      </button>
    </div>

    <div class="category">
      <button
        mat-icon-button
        aria-label="Toggle Summary"
        (click)="showDescription()"
      >
        <mat-icon>{{
          show ? "keyboard_arrow_up" : "keyboard_arrow_down"
        }}</mat-icon>
      </button>

      @if(show) {
      <p class="craft-summary">
        {{ craft.description }}
      </p>
      }
    </div>

    <!-- <h6 class="craft-category">{{ craft.category }}</h6> -->

    <div class="action-buttons-container">
      <button mat-icon-button aria-label="Delete craft" (click)="deleteCraft()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button aria-label="Edit Movie" (click)="editCraft()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
