<div class="course-container">
  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/bcfxeFmh5bg"
        title="How to Crochet for Absolute Beginners -  Basic Tools and Supplies | Lesson 1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>Crochet for Absolute Beginners</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/bcfxeFmh5bg" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/yotA9ZEFAi8"
        title="How to Draw a Sunset Lake / Acrylic Painting for Beginners"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>Acrylic Painting for Beginners</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/yotA9ZEFAi8" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/1n7apcgQiz0"
        title="Beginner Sculpture Basics"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>Beginner Sculpture Basics</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Mentor Needed</div>
    <a href="https://www.youtube.com/embed/1n7apcgQiz0" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/TF4_T7yMTOA"
        title="How to Design a Logo - From Start to Finish."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>How to Design a Logo - From Start to Finish</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/TF4_T7yMTOA" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/x8tfFheRCiY"
        title="60 DIY HOME DECOR IDEAS + HACKS you Actually Want To MAKE (FULL TUTORIALS)"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>Home Decor Ideas</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/x8tfFheRCiY" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/esetBJuXwvw"
        title="New to cardmaking? Here&#39;s how to make a very simple card!"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>How to Make a Very Simple Card!</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/esetBJuXwvw" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/JzE3g9KrdOQ"
        title="How to Make a Ceramic Mug ~ No Wheel Required 🌸 Pottery from Home"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>Pottery from Home</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/JzE3g9KrdOQ" class="start-learning">
      Start Learning
    </a>
  </mat-card>

  <mat-card>
    <div>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/GC_Szxdqh2Y"
        title="How To Make a Paper Crane - Origami Crane Easy - Step by Step Tutorial"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <mat-card-title>Beginner Origami Tutorial</mat-card-title>
    <p>
      <b>Skills you'll gain :</b> creativity, fine motor skills and patience
    </p>
    <div class="program-type">Self paced</div>
    <a href="https://www.youtube.com/embed/GC_Szxdqh2Y" class="start-learning">
      Start Learning
    </a>
  </mat-card>
</div>
<div
  style="
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  "
>
  <div>Learned Enough ? Add your Crafts Here</div>
  <!-- <img
    src="https://cdn.pixabay.com/animation/2023/10/20/11/35/11-35-55-636_512.gif"
    alt="cat-gif"
    style="align-items: center"
    height="200px"
    width="200px"
  /> -->
  <a href="/signup" class="start-learning"> Let's go ! </a>
</div>
