.cart-container {
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 20px;
  }
  

  .product-image
  {height: 5rem;
width: 5rem;

  }

 