<!-- <app-search-craft></app-search-craft> -->
<form [formGroup]="searchCraft" class="search-bar">
  <input
    type="search"
    placeholder="search crafts..."
    formControlName="search"
    class="search-input"
  />
  <i class="fa-solid fa-magnifying-glass"></i>
</form>

<!-- <button routerLink="/Crafts/{{ craftList.id }}">Add Your Craft</button> -->

<section class="craft-list-container">
  @if(isLoading){
  <h1>Loading ⌛</h1>
  } @for (craft of craftList; track $index){
  <app-crafts
    [craft]="craft"
    (deleteCraftEvent)="deleteCraftP($event)"
    (updateCraftEvent)="editCraftP($event)"
    [id]="craft.craftId"
  />
  }
</section>

<h1>{{ msg }}</h1>
