.craft-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }

  
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f9f9f9; 
  border-radius: 30px; 
  border: 1px solid #ddd; 
  padding: 5px 15px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  max-width: 350px; 
  margin: 0 auto; 
  margin-top: 20px;
  margin-bottom: 20px;
}


.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  width: 100%; 
  background-color: transparent; 
  color: #333; 
}


.search-icon {
  color: black; 
  font-size: 18px;
  margin-left: 10px; 
  cursor: pointer; 
}

.search-bar:hover {
  border-color: #ff00ee; 
}

.search-bar .search-input::placeholder {
  color: #aaa; 
}

.mat-snack-bar-container {
  background-color: #323232; 
  color: #fff; 
  font-size: 14px;
  border-radius: 4px;
  padding: 12px;
}