<!-- <app-search-craft></app-search-craft> -->
<div class="serch-add">
  <div>
    <form [formGroup]="searchCraft" class="search-bar">
      <input
        type="search"
        placeholder="search crafts..."
        formControlName="search"
        class="search-input"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
      <button mat-button routerLink="/Crafts/add">➕</button>
    </form>
  </div>
</div>

<section class="craft-list-container">
  @if(isLoading){
  <mat-spinner></mat-spinner>
  } @for (craft of craftList; track $index){
  <app-crafts
    [craft]="craft"
    (deleteCraftEvent)="deleteCraftP($event)"
    (updateCraftEvent)="editCraftP($event)"
    (addItemEvent)="addOneProduct($event)"
    [id]="craft.craftId"
  />
  }
</section>

<h1>{{ msg }}</h1>
