/* Add this CSS to your stylesheet */

.head {
    background-color: #0d0f10; /* Light background color for the navbar */
    padding: 1rem; /* Padding around the navbar */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px; 
    // margin: 0 auto; /* Center the content */
  }
  
  .header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
   
  }
  
  .header li {
    margin: 0;
  }
  
  .logo a {
    color: white; /* Text color for the logo */
    text-decoration: none;
    font-size: 1rem;
   
  }
  
  .login-icon a {
    color: white; /* Text color for the login icon */
    text-decoration: none;
  }
  
  .login-icon i {
    font-size: 1.5rem; /* Adjust size of the icon as needed */
  }

  .logo i{
    color: white;
    
  }
  