<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Mukta:wght@200;300;400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

<mat-card class="signup-box">
  <h1 style="text-align: center" class="browse">Sign-up</h1>
  <form [formGroup]="signupForm" (ngSubmit)="usersignUp()" class="sign-form">
    <mat-form-field style="width: 300px">
      <mat-label> Username</mat-label>
      <input matInput placeholder="Username" formControlName="username" />

      @if(username?.touched && username?.hasError('required') ){
      <mat-error>Name is <strong>required</strong></mat-error>
      } @if(username?.touched && username?.hasError('minlength') ){
      <mat-error>Please provide full username </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label> Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" />
    </mat-form-field>

    <mat-form-field>
      <mat-label> Confirm Password</mat-label>
      <input
        matInput
        placeholder="Password"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      style="background-color: black; color: white"
      class="browse"
    >
      Sign-up
    </button>
  </form>
</mat-card>
