<div class="container">
  <h1>
    Discover the art of blending classic techniques with modern vision in
    handcrafted treasures.
  </h1>
  <!-- <mat-card>
    <div class="image">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShVrVDgxlP2J2xQhv3-Lm_vziy73YUKBSuyQ&s"
        alt="Arts and Crafts"
      />
    </div>
  </mat-card> -->

  <div class="intro-images">
    <div class="home-page">
      <img
        src="https://5.imimg.com/data5/ANDROID/Default/2022/7/OI/IH/IU/156190139/prod-20220725-1037521382398187620809242-jpg-500x500.jpg"
        alt="Craft Image 1"
      />
    </div>
    <div class="home-page">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjpE9Zy-PRqSBMFwSv-PBryCNK1cY9N3VASpsuhzb0TBQn9qJ01aoUjX33yqn7uirqxtg&usqp=CAU"
        alt="Craft Image 2"
      />
    </div>
    <div class="home-page">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/William_Morris_design_for_Trellis_wallpaper_1862.jpg/800px-William_Morris_design_for_Trellis_wallpaper_1862.jpg"
        alt="Craft Image 3"
      />
    </div>
  </div>
</div>
